<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<contextName>mplix</contextName>
	<!-- configuration parameter : log folder -->
	<property name="igc_home" value="c:/app_final/mplix_wb"></property>
	<appender name="quartz_job" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>logFileName</key>
			<defaultValue>schedule_job</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${logFileName}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${igc_home}/logs/${logFileName}.log</file>
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<Pattern>
						%d{yyyy-MM-dd HH:mm:ss} %level %logger{35} - %msg%n
					</Pattern>
				</encoder>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>${igc_home}/logs/${logFileName}.%i.log.zip
					</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>10</MaxIndex>
				</rollingPolicy>
				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>5MB</MaxFileSize>
				</triggeringPolicy>
			</appender>
		</sift>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %level %msg%n </Pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<discriminator>
			<key>logFileName</key>
			<defaultValue>console.out</defaultValue>
		</discriminator>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<sift>
			<appender name="FILE-${logFileName}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${igc_home}/logs/${logFileName}.log</file>
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<charset>UTF-8</charset>
					<Pattern>
						%d{yyyy-MM-dd HH:mm:ss} %level %logger{35} - %msg%n
					</Pattern>
				</encoder>
				<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<!-- daily rollover -->
					<fileNamePattern>${igc_home}/logs/${logFileName}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
					<!-- or whenever the file size reaches 50MB -->
					<maxFileSize>10MB</maxFileSize>
					<totalSizeCap>10GB</totalSizeCap>
					<!-- keep 30 days' worth of history -->
					<maxHistory>30</maxHistory>
				</rollingPolicy>
			</appender>
		</sift>
	</appender>
	<!-- configuration parameter : logging to database table -->
	<!-- 
        %d =>DATED  
        %C =>LOGGER 
        %p =>LEVEL
        %X{process} =>PROCESS
        %X{internalRuntime} =>INTERNALRUNTIME
        %m =>MESSAGE 
    -->
	<!-- 
	<appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="driver" value="jdbc_driver"/>
		<param name="url" value="jdbc_url"/>
		<param name="user" value="db_user"/>
		<param name="password" value="db_password"/>
		<param name="sql" value="INSERT INTO igcserverlog (log_level, log_date, log_host, log_user, log_msg) VALUES ('%p','%d','%X{PROCESS}','%C',SUBSTRING('%m', 0,2048))"/>
		<layout class="org.apache.log4j.PatternLayout">
		</layout>
	</appender>
	-->
	<logger name="com.mplix.scheduler" level="debug" additivity="false">
		<appender-ref ref="quartz_job" />
	</logger>
	<logger name="com.mplix">
		<level value="all" />
	</logger>
	<logger name="com.zaxxer.hikari">
		<level value="error" />
	</logger>
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>